<!DOCTYPE html>
<html>
<head>
  <title>Live</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', root_path %> <%= link_to 'Dreams', dreams_path %> <%= link_to current_user.try(:email) || 'Sign In', new_user_session_path %>
<%= yield %>

<hr>


</body>
</html>
